name: My first workflow

on:
  push:
    branches: main
  pull_request:
    branches: main
  schedule:
    - cron: '15 6 * * 0'
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy to'
        type: environment
        required: true

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Event trigger
        run: |
          echo "This event is triggered by ${{github.event_name}}"
          echo "the name of branch is ${{github.ref}} and repo is ."
          
      - name: checkout
        uses: actions/checkout@v5
          
      - name: List files in repo
        id: files
        run: |
          echo "files=$(ls -la | tr '\n' ' ')" >> $GITHUB_OUTPUT

      - name: Show captured files
        run: echo "${{ steps.files.outputs.files }}"
          
      
        
